@font-face {
    font-family: 'lucida-grande';
    src: url(../fonts/lucida-grande.ttf);
}

body {
    background: #edf0f5;
    font-family: 'lucida-grande';
    font-size: 11px;
    text-align: left;
    direction: ltr;
    color: #141823;
    line-height: 1.28;
    overflow-y: scroll;
}

#header-container {  
    background-image: url('../images/bg-header.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    background-color: #3a5795;
    border: 0;
    border-bottom: 1px solid #133783;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    min-width: 100%;
    min-height: 84px;
    max-height: 84px;
    position:absolute;
    left:0;
    top:0;
}


.wrapper {
    width: 1200px;
    margin: 0 auto;
}

h1,
h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active,
h1 a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
}

#logo {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 30px;
    margin-left: 110px;
    width: 200px;
}

#content-container {
    display: inline-block;
    vertical-align: baseline;
    width: 300px;
    position: relative;
    left: 400px;
}

#login-container {
    text-align: center;
}

#login-attempt {
    text-align: left;
    display: inline-block;
}

#login-form {
    color: white;
}

.errorInput {
    box-shadow: 0 0 5px red;
    border: 2px solid rgb(244, 199, 199);
}

#body-container {
    background: #edf0f5;
    min-width: 100%;
    min-height: 613px;
    position: absolute;
    top: 85px;
    left: 0px;
    color: #333;
}

#introduction-container {
    float:left;
}

#introduction-container h2, 
#intro-body {
    font-size: 26px;
    max-width: 409px;
    position: relative;
    left: 110px;
    top: 45px;
}

#sign-up-container {
    min-width: 409px;
    min-height: 100px;
    float: right;
    margin-right: 75px;
    margin-top: 25px;
}

#sign-up-container h2 {
    font-size: 36px;
    margin: 0;
}

#sign-up p{
    font-size: 19px;
    margin-top: 0px;
    color: #333;
}

#global-container {
    color: rgb(20, 24, 35);
    direction: ltr;
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    height: 625.5px;
    line-height: 14.0799999237061px;
    margin-bottom: 0px;
    margin-left: 182px;
    margin-right: 182px;
    margin-top: 0px;
    position: relative;
    text-align: left;
    width: 981px;
    zoom: 1;
}

#login-attempt-container {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(20, 24, 35);
    direction: ltr;
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    height: 370.5px;
    line-height: 14.0799999237061px;
    margin-bottom: 0px;
    margin-left: 149px;
    margin-right: 149px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: left;
    width: 640px;
    zoom: 1;
}

#login-attempt-header {
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-top-color: rgb(204, 204, 204);
    color: rgb(20, 24, 35);
    direction: ltr;
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    height: 22px;
    line-height: 14.0799999237061px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding-bottom: 15.5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
    text-align: left;
    width: 600px;
    zoom: 1;
}

.error-message {
    width: 360px;
    margin-top: 30px;
    height: auto;
    background: #ffebe8;
    border: 1px solid #dd3c10;
    line-height: 15px;
    margin: 10px 0 0 0;
    overflow: hidden;
    text-align: center;
    padding: 7px 2px;
}

.entry {
    min-width: 565px;
    min-height: 53px;
    padding: 13px;
}

.entry img {
    display: inline-block;
    vertical-align: middle;
}

.entry p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 450px;
    font-size: 16px;
}

#signup-form tbody tr input {
    margin: 10px auto;
    width: 230px;
}

#signup-button {
    margin: 2px;
    left: 290px;
}

.helptext {
    display: none;
}

#greeting {
    color: white;
    font-size: 14px;
    float: right;
}

textarea[name="text"] {
    resize: none;
    height: 100px;
    width: 500px;
    font-size: 14px;
    font-family: 'lucida-grande';
    padding: 5px;
}

#post-status-container {
    min-width: 100%;
    margin-top: 40px;
}

#posts-container {
    margin-top: 50px;
    min-width: 100%;
}


#post-status {
    margin: 0px auto;
    width: 500px;
}

#posts {
    min-height: 300px;
    width: 800px;
    margin: 0 auto;
}

.picture {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: absolute;
}

.bubble {
    word-break: break-all;
    position: relative;
    max-width: 600px;
    min-height: 50px;
    padding: 15px;
    background: #BED3FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 15px auto;
    margin-left: 100px;
    font-size: 12px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 25px 10px 0;
    border-color: transparent #BED3FF;
    display: block;
    width: 0;
    z-index: 1;
    left: -25px;
    top: 12px;
}
