{% extends "base.html" %}
{% load staticfiles %}
{% load facebook_tags %}

{% block post %}
<form id="post-form" method="POST">
    {% csrf_token %}
    {{ postform.text }}
    <button type="submit" class="uibutton confirm" id="post-button">Post</button>
</form>
{% endblock %}

{% block feed %}
    {% for item in posts %}
        <div id="container_{{ item.id }}" class="stat-container">
            <div class="picture">
                <img id="profpic" src="{% static 'facebook/images/prof-pic.png' %}"/>
                {{ item.user }}
            </div>
            <div class="bubble">
                {{ item.text|linebreaksbr }}
                <div class="toggleLikeContainer">
                    {% has_liked user item %}
                    <span class="likeCount"> {% count_likes user item %} </span>
                </div>
                <div class="datetimeContainer">
                    {{ item.datetime | time:"g:i A -" | lower }}
                    {{ item.datetime | date:"M d, Y"}}
                </div>
                {% if item.user.id == user.id %}
                <div class="removePostContainer">
                    <a href="" class="editPost" name="{{ item.id }}">Edit</a>
                    |
                    <a href="#" id="{{ item.id }}" class="removePost">x</a>
                </div>
                {% endif %}
            </div>
        </div> 
    {% endfor %}
{% endblock %}


