{% extends "base.html" %}
{% load staticfiles %}

{% block post %}

<form method="post" action="{% url 'facebook:post_status' %}">
    {% csrf_token %}
    {{ postform.text }}
    <button type="submit" class="uibutton confirm" id="post-button">Post</button>
</form>
{% endblock %}

{% block feed %}
    {% for item in posts %}
        <div id="stat-container">
            <div class="picture">
                <img src="{% static 'facebook/images/1-icon.png' %}"/>
                {{ item.user }}
            </div>
            <div class="bubble">
                {{ item.text|linebreaksbr }}
            </div>
        </div> 
    {% endfor %}
{% endblock %}