{% extends "splash-screen.html" %}

{% block login %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'facebook:verifyLogin' %}">
    {% csrf_token %}
    <table id="login-form">
        <tr>
            <td>Username</td>
            <td>Password</td>
        </tr>
        <tr>
            <td>{{ loginform.username }}</td>
            <td>{{ loginform.password }}</td>
            <td><input type="submit" id="login-button" class="uibutton confirm" value="Login" /></td>
        </tr>
    </table>
</form>

{% endblock %}

{% block signup %}
<form method="post" action="{% url 'facebook:verifySignUp' %}">
    {% csrf_token %}
    <table id="signup-form">
        {{signupform}}
    </table>
    <td><input type="submit" id="signup-button" class="uibutton special" value="Sign Up" /></td>
</form>
{% endblock %}