{% load staticfiles %}
{% load facebook_tags %}

<div id="container_{{ post.id }}" class="stat-container">
    <div class="picture">
        <img src="{% static 'facebook/images/1-icon.png' %}"/>
        {{ post.user }}
    </div>
    <div class="bubble">
        {{ post.text|linebreaksbr }}
        <div class="datetime">
            {{ post.datetime}}
        </div>
        {% if post.user == user %}
        <div class="removePostContainer">
            <a href="" id="{{ post.id }}" class="removePost">x</a>
        </div>
        {% endif %}
        <div class="toggleLikeContainer">
            {% hasLiked user post %}
        </div>
        <div class="likeCounterContainer">
            {% countLikes user post %}
        </div>
    </div>
</div> 

