{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>  
        <title>Facebook</title>
        <link rel="stylesheet" type="text/css" href="{% static 'facebook/css/fb-buttons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'facebook/css/application.css' %}">
    </head>
    <body>
        <div id="header-container">
            <div id="logo">
                <h1><a href="/facebook/">facebook</a></h1>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>